[Unit]
Description=LoRa-AT RX Echo Python Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/mars/lora-at/examples
ExecStart=/home/mars/lora-at/venv-lora-at/bin/python3 /home/mars/lora-at/examples/rx_echo.py /dev/ttyS0
Restart=on-failure

[Install]
WantedBy=multi-user.target

